body {
  background-image: url(img/parchment.jpg);
  background-color: #383131;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'MedievalSharp', regular;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}

.message-box {
  margin: 5px 0px 0px 100px;
  border: 2px solid black;
  border-radius: 25px;
  width: 400px;
  height: 560px;
  background-image: url(img/parchment.jpg);
  background-position: center;
  background-color: #fbd968;
}

#messages {
  padding-right: 5px;
  overflow-y: scroll;
  height: 200px;
  font-size: medium;
  font-weight: 300;
}

.button-box {
  background-image: url(img/moss.jpg);
  height: 100px;
  border-top-width: 2px;
  border-color: black;
  border-top-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-holder {
  background-image: url(img/button-wall.jpg);
  background-size: cover;
  border-radius: 25px;
  background-color: #fbd968;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'MedievalSharp', regular;
  font-size: medium;
  border-radius: 25px;
  background-color: #383131;
  color: #fbd968;
  width: 150px;
  height: 60px;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: #383131;
  background-color: #fbd968;
}

button:active {
  filter: brightness(150%);
}

.invisible {
  display: none;
  pointer-events: none;
}

#messages::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
  background-color: #63584c;
}

#messages::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 25px;
  background-color: #e2c8ad;
}

#messages {
  scrollbar-width: 10px;
  scrollbar-color: #e2c8ad #63584c;
}

.chronicle {
  text-align: center;
}

.fight-box {
  text-align: center;
  height: 182px;
  border-top-width: 2px;
  border-color: black;
  border-top-style: solid;
  font-size: larger;
  font-weight: 200;
  color: maroon;
}

canvas {
  position: absolute;
}

.canvas-holder {
  position: relative;
  width: 840px;
  height: 560px;
}

.main-canvas,
.upper-layer {
  border: 1px solid black;
}

.stats {
  height: 55px;
  width: 500px;
  margin: 10px 0px 0px 400px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #fbd968;
  text-align: center;
  color: darkred;
}

.msg {
  padding-left: 10px;
  margin: 0;
}

.msg.good {
  color: darkgreen;
}

.msg.bad {
  color: rgb(160, 32, 32);
}
